
    @font-face {
	    font-family: Philosopher;
	    src: url(../fonts/Philosopher.ttf);
    }
    @font-face {
	    font-family: Newspaper;
	    src: url(../fonts/Newspaper.ttf);
    }

    html {
        height: 100%;
        background-image: url(../img/logo.svg);
        background-size: 80vmin;
        background-repeat: no-repeat;
        background-position: -23vmin 32vh;
    }
    html, body {
        margin: 0;
    }
    body {
        text-align: center;
    }

    @keyframes fadeIn { 100% { opacity: 1; } }    
    #gallery {
        margin-top: 1em;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }

    iframe, .arrow { display: inline-block; }
    iframe {
        background-color: black;
        max-height: 70vh;
        max-width: 80vw;
        height: 80vmin;
        width: 140vmin;
        border: none;
        border-radius: 1em;
        box-shadow: 0 2px 5px #0006;
        margin-bottom: 2.3vmin;
    }
    
    .arrow {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 8vw;
        height: 42vmin;
        margin: 0.5vw;
        margin-bottom: 16vmin;
        cursor: pointer;
    }
    .arrow.left {
        background-image: url(../img/arrow_l.svg);
    }
    .arrow.right {
        background-image: url(../img/arrow_r.svg);
    }

    h1, h2 {
        display: inline-block;
        margin: 1vh;
        max-width: 95vw;
        text-shadow: 0 2px 5px #0006;
        font-size: 4.20vmin;
    }
    h1 {
	    font-family: Newspaper;
        opacity: 0.7;
    }
    h2 {
	    font-family: Philosopher;
        color: lightgrey;
        opacity: 0.4;
    }
    
    label {
        display: inline-block;
        vertical-align: middle;
    }
    label[for^="autoplay"] {
        width: 12vmin;
        height: 12vmin;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/box.svg);
        cursor: pointer;
    }
    #autoplay:checked ~ label[for^="autoplay"] {
        background-image: url(../img/check.svg), url(../img/box.svg);
    }
